MONGODB_URI=mongodb+srv://vkvarun4401_db_user:B6k5TmHeXuGtgur0@cluster0.f10lzqu.mongodb.net/devblog?appName=Cluster0&retryWrites=true&w=majority
SESSION_SECRET=please-change-this-to-any-random-text-123
PORT=4401